Checks: >-
  bugprone-*,
  -bugprone-assignment-in-if-condition,
  -bugprone-easily-swappable-parameters,
  clang-analyzer-*,
  llvm-*,
  -llvm-header-guard,
  -llvm-namespace-comment,
  misc-*,
  -misc-non-private-member-variables-in-classes,
  performance-*,
  portability-*,
  readability-*,
  -readability-braces-around-statements,
  -readability-function-cognitive-complexity,
  -readability-identifier-length,
  -readability-isolate-declaration,
  -readability-magic-numbers,
  -readability-named-parameter,
  -readability-redundant-member-init,
WarningsAsErrors: '*'
